/*index*/
body {
  height: 100%;
  background-color: black;
  background-position: center;
  font-family: "Poppins", sans-serif;
}
/*header*/
.navbar {
  display: flex;
  align-items: center;
  background-color: white;
  padding: 1rem 1.5rem;
  justify-content: space-between;
  height: 100px;
}
.nav-menu {
  display: flex;
  align-items: center;
  width: auto;
  height: auto;
}

.nav-item {
  margin-left: 3rem;
}
.nav-link {
  font-size: 1.188rem;
  color: rgb(0, 0, 0);
}
.nav-link:hover {
  color: #55fff4;
}

.logob {
  width: 4%;
  height: auto;
}
/*end header*/
.product_title {
  color: white;
  text-align: center;
}
.ac_02_img {
  width: 70%;
  border-radius: 30px;
  transition: all 0.25s ease;
}
.ac_02_img:hover {
  transform: translate(-12px, -12px);
  box-shadow: #2bece9 0 0 5px , #2bece9 0 0 26px , #2bece9 0 0 36px  ;
}
.product_item {
  display: flex;
  justify-content: center;
  padding-top: 20px;
}
.product_object {
  text-align: center;
  color: white;
}
.footer {
  background-color: white;
	height: 60px;
	text-align: center;
	display: block; 
	position: relative;
	left: 0;
	bottom: 0;
	width: 100%;
}
.page-footer {
  padding-top: 20px;
}
.protitle {
  flex-wrap: wrap;
}
::-webkit-scrollbar {
	width: 8px;
  }
  ::-webkit-scrollbar-track {
	background: gray;
  }
  ::-webkit-scrollbar-thumb {
	background: #BCBCBC;
  }
/*end footer*/
@media only screen and (max-width: 640px) {
  .navbar {
    width: fit-content;
    padding: 0.313rem;
    justify-content: flex-start;
    display: flex;
    align-items: center;
  }
  .nav-menu {
    display: none;
  }
  .logob {
    width: 4%;
  }
  .dropbtn {
    background-color: #000000;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 20px;
    transition: all 0.25s ease;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
    margin-left: 470px;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 130px;
    box-shadow: 0px 8px 16px 0px rgb(37, 245, 238);
    z-index: 1;
    border-color: #000000;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {
    background-color: #8a8a8a
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown:hover .dropbtn {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
  }
}




@media only screen and (min-width: 641px) {
  .dropdown {
    display: none;
  }
}
